body,
html {
	font-family: 'Oswald', sans-serif;
	/* background-color: lightgray; */
	margin: 0px;
	height: 100%;
	width: 100%;
}

#start {
	width: 25%;
	min-height: 40%;
	max-height: 80%;
	display: block;
	position: absolute;
	left: 37.5%;
	top: 20%;
	background: hsla(0, 0%, 100%, 0.75);
	border: 2px solid black;
	padding: 1rem;
	box-sizing: border-box;
	font-size: 1.5rem;
	transition: opacity 1s;
}

#start h2,
#start h3,
#start h4 {
	display: block;
	text-align: center;
	margin: 0.2rem auto;
}

#startGameForm {
	text-align: center;
	padding: 1.5rem 2rem;
}

#startGameForm label {
	display: block;
}

#startGameForm input {
	font-size: 1.2rem;
	width: 25%;
	text-align: center;
}

#startGameSubmit {
	margin-top: 1.6rem;
}

#container {
	z-index: 1;
	opacity: 0;
	height: 100%;
	width: 100%;
	transition-property: background-color, opacity;
	transition-duration: 1s;
	position: fixed;
	display: none;
}

#videoBackground {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0.9;
	z-index: -1;
	transition: opacity 90s;
}

#header {
	display: flex;
	margin: 5px auto;
	width: 70%;
}

#titles {
	flex: 30% 2 1;
}

#title {
	font-size: 2.2vw;
}

.subtitle {
	display: block;
	font-size: 1.5vw;
}

#main {
	margin: 0px auto 5px;
	width: 100%;
	display: flex;
	justify-content: center;
}

#gameboard {
	height: 500px;
	min-width: 70%;
	border: 1px solid black;
	box-shadow: 0px 0px 2px black;
	line-height: 0;
	cursor: crosshair;
	max-width: 70%;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
}

.cell {
	border: none;
	background: #ffffff;
	margin: 0;
	box-sizing: content-box;
}

.cell:hover {
	background: aqua;
}

.wing {
	display: flex;
	flex-direction: column;
	margin: 0px 5px;
	flex: 10%;
	opacity: 0.2;
	transition: opacity 0.25s;
}

.wing:hover {
	opacity: 1;
}

.wing > button {
	margin: 5px;
}

#stats {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.2vw;
	padding-left: 1vw;
	padding-right: 3vw;
	box-sizing: border-box;
	align-content: space-evenly;
	transition: opacity 0.25s;
}

#stats:hover {
	opacity: 1;
}

.stats--playing {
	opacity: 1;
}

.stat-label {
	font-weight: 400;
}

.stat-readout {
	font-weight: 300;
}

#white {
	background-color: white;
}

#black {
	background-color: black;
}

#playback-wing {
	align-items: flex-end;
	justify-content: space-between;
}

.playback {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
}

.playback--active {
	box-shadow: 0px 0px 5px 5px aqua;
}

#footer {
	width: 70%;
	margin: 5px auto;
	display: block;
}

#palette {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	opacity: 0.2;
	transition: opacity 0.25s;
}

#palette:hover {
	opacity: 1;
}

.color {
	width: 20px;
	height: 20px;
	margin: 1px;
	border: 1px solid white;
	box-sizing: border-box;
}

.color--selected,
.color--selected:hover {
	box-shadow: 0px 0px 5px 2px aqua;
}

#top-right-links {
	position: absolute;
	top: 1vh;
	right: 16%;
}

#top-right-links span {
	margin: 0 0.5vw;
}

#user-string {
	display: none;
}

#signIn-string {
	display: none;
	cursor: pointer;
}

#signIn-string:hover {
	color: lightcoral;
}

#signOut-string {
	cursor: pointer;
	display: none;
}

#signOut-string:hover {
	color: lightcoral;
}

#auth-container {
	padding: 1%;
	width: 22%;
	position: absolute;
	top: 20%;
	left: 39%;
	z-index: 10;
	background: white;
	border: 1px solid black;
	box-shadow: 1px 1px 3px darkgrey;
	display: none;
}

#auth h2 {
	margin: 0;
	font-size: 1.3vw;
}

#auth p {
	font-weight: 300;
	font-size: 0.9vw;
}
