body,
html {
	font-family: 'Oswald', sans-serif;
	/* background-color: lightgray; */
	margin: 0px;
	height: 100%;
	width: 100%;
}

#patternbank {
	position: absolute;
	left: 99.5%;
	height: 100%;
	width: 15%;
	background: lightblue;
	border: 3px solid black;
	z-index: 200;
	transition: left 0.75s;
	box-shadow: -2px 0px 4px black;
}

.patternbank-edge-button {
	position: absolute;
	left: -3.05rem;
	font-size: 2rem;
	border: 2px solid black;
	height: 4.5rem;
	padding: 0px 0.5rem;
	box-shadow: none;
}

.patternbank-edge-button:hover {
	box-shadow: none;
}

#patternbank-inner {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

.pattern-container {
	width: 100%;
	height: 20%;
	margin-top: 0.1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	padding-left: 2%;
}

.pattern-container:hover {
	background-color: #cbf2ff;
}

.pattern-title {
	font-size: 1rem;
	width: 80%;
}

.pattern-board {
	display: flex;
	height: 85%;
	width: 80%;
	flex-wrap: wrap;
	justify-content: center;
	box-sizing: border-box;
}

.pattern-board:hover {
	border: 3px solid aqua;
}

.pattern-board:active {
	border: 3px solid red;
}

.pattern-button-container {
	width: 19%;
	height: 85%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: space-between;
}

.pattern-button {
	height: auto;
	width: 100%;
	display: block;
	font-size: 1.7rem;
	text-align: center;
}

.pattern-get:hover {
	color: yellow;
}
.pattern-get:active {
	color: cyan;
}

.pattern-rotate:hover {
	color: green;
}
.pattern-rotate:active {
	color: lightgreen;
}

.pattern-flip:hover {
	color: purple;
}
.pattern-flip:active {
	color: lightpink;
}

#patternDropperFloater {
	top: 25%;
	right: 25%;
	background-color: rgba(200, 230, 255, 0.5);
	width: 30%;
	height: 30%;
	display: none;
	text-align: center;
}

#dropperBoard {
	border: 1px solid black;
	line-height: 0;
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.dropperCell {
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
	margin: 0;
	box-sizing: content-box;
}

#dropPatternButton {
	font-size: 1.5rem;
	background-color: rgba (200, 200, 200, 0.6);
	display: block;
	width: 50%;
	margin: 0.5rem auto;
}

#expand {
	bottom: 1%;
	background: lightblue;
}

#expand:hover {
	background: aqua;
}

#collapse {
	bottom: 5.7%;
	background: gray;
}

#collapse:hover {
	background: lightgray;
}

#startWrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

#start {
	max-width: 40%;
	min-height: 40%;
	max-height: 80%;
	background: hsla(0, 0%, 100%, 0.75);
	border: 2px solid black;
	padding: 1rem;
	box-sizing: border-box;
	font-size: 1.5rem;
	transition: opacity 1s;
}

#start h2,
#start h3,
#start h4 {
	display: block;
	text-align: center;
	margin: 0.2rem auto;
}

#startGameForm {
	text-align: center;
	padding: 1.5rem 2rem;
}

#startGameForm label {
	display: block;
}

#startGameForm input {
	font-size: 1.2rem;
	width: 25%;
	text-align: center;
}

#startGameSubmit {
	margin-top: 1.6rem;
}

#container {
	z-index: 1;
	opacity: 0;
	height: 100%;
	width: 100%;
	transition-property: background-color, opacity;
	transition-duration: 1s;
	position: fixed;
	display: none;
}

#videoBackground {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0.9;
	z-index: -1;
	transition: opacity 90s;
}

#header {
	display: flex;
	margin: 5px auto;
	width: 70%;
}

#titles {
	flex: 30% 2 1;
}

#title {
	font-size: 2.7rem;
	font-variant: small-caps;
}

.subtitle {
	display: block;
	font-size: 1.5rem;
}

#main {
	margin: 0px auto 5px;
	width: 100%;
	height: 65vh;
	display: flex;
	justify-content: center;
}

#gameboard {
	min-width: 70%;
	border: 1px solid black;
	box-shadow: 0px 0px 2px black;
	line-height: 0;
	cursor: crosshair;
	max-width: 70%;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
}

.cell {
	border: none;
	background: #ffffff;
	margin: 0;
	box-sizing: content-box;
	user-select: none;
}

.cell:hover {
	background: aqua;
}

.wing {
	display: flex;
	flex-direction: column;
	margin: 0px 5px;
	flex: 10%;
	opacity: 0.2;
	transition: opacity 0.25s;
}

.wing:hover {
	opacity: 1;
}

.wing > button {
	margin: 5px;
}

#stats {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.2rem;
	padding-left: 1rem;
	padding-right: 3rem;
	box-sizing: border-box;
	align-content: space-evenly;
	transition: opacity 0.25s;
}

#stats:hover {
	opacity: 1;
}

.stats--playing {
	opacity: 1;
}

.stat-label {
	font-weight: 400;
}

.stat-readout {
	font-weight: 300;
}

#white {
	background-color: white;
}

#black {
	background-color: black;
}

#playback-wing {
	align-items: flex-end;
	justify-content: space-between;
}

.playback {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
}

.playback--active {
	box-shadow: 0px 0px 5px 5px aqua;
}

#footer {
	width: 70%;
	margin: 5px auto;
	display: block;
}

#palette {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	opacity: 0.2;
	transition: opacity 0.25s;
}

#palette:hover {
	opacity: 1;
}

.color {
	width: 20px;
	height: 20px;
	margin: 1px;
	border: 1px solid white;
	box-sizing: border-box;
}

.color--selected,
.color--selected:hover {
	box-shadow: 0px 0px 5px 2px aqua;
}

#top-right-links {
	position: absolute;
	top: 1vh;
	right: 16%;
}

#top-right-links span {
	margin: 0 0.5rem;
}

#user-string {
	display: none;
}

#signIn-string {
	display: none;
	cursor: pointer;
}

#signIn-string:hover {
	color: lightcoral;
}

#signOut-string {
	cursor: pointer;
	display: none;
}

#signOut-string:hover {
	color: lightcoral;
}

#auth-container {
	padding: 1%;
	width: 22%;
	position: absolute;
	top: 20%;
	left: 39%;
	z-index: 10;
	background: white;
	border: 1px solid black;
	box-shadow: 1px 1px 3px darkgrey;
	display: none;
}

#auth h2 {
	margin: 0;
	font-size: 1.3rem;
}

#auth p {
	font-weight: 300;
	font-size: 0.9rem;
}
