body,
html {
	font-family: 'Oswald', sans-serif;
	background-color: lightgray;
}

#header {
	display: block;
	margin: 5px auto;
	width: 800px;
}

#title {
	/* font-weight: bold; */
	font-size: 2.2rem;
}

#subtitle {
	/* font-weight: bold; */
	font-size: 1.5rem;
}

#main {
	margin: 5px auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

#gameboard {
	height: 500px;
	width: 800px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.cell {
	width: 18px;
	height: 18px;
	border: 1px solid lightgray;
	background: #ffffff;
	margin: 0;
}

.wing {
	display: flex;
	flex-direction: column;
	margin: 0px 5px;
	width: 130px;
}

.wing > button {
	margin: 5px;
}

button {
	box-shadow: 1px 1px 1px gray;
}

button:focus {
	outline: none;
}

button:hover {
	box-shadow: 0px 0px 3px 3px white;
}

button:active {
	box-shadow: 0px 0px 5px 5px aqua;
}

#white {
	background-color: white;
}

#black {
	background-color: black;
}

#playback {
	align-items: flex-end;
}

#info {
	display: block;
}

#info h4 {
	font-size: 1.2rem;
	margin: 5px;
}

#info p {
	font-weight: 300;
	margin: 5px;
	font-size: 0.9rem;
}

.playback {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
}

.playback--active {
	box-shadow: 0px 0px 5px 5px aqua;
}

#stepButton {
	font-size: 2rem;
	padding-left: 10px;
}

#playButton {
	font-size: 1.4rem;
	padding-left: 11px;
}

#stopButton {
	font-size: 1.5rem;
	padding-left: 8px;
}

#clearButton {
	font-size: 1.5rem;
	padding-left: 8px;
}

#footer {
	width: 800px;
	margin: 5px auto;
	display: block;
}

#palette {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
}

.color {
	width: 24px;
	height: 24px;
	margin: 2px;
	border-radius: 12px;
	border: 1px solid white;
}

.color--selected,
.color--selected:hover {
	box-shadow: 0px 0px 5px 2px aqua;
}
