body,
html {
	font-family: 'Oswald', sans-serif;
	background-color: lightgray;
}

#header {
	display: flex;
	margin: 5px auto;
	width: 70%;
}

#titles {
	flex: 30% 2 1;
}

#title {
	font-size: 2.2vw;
}

.subtitle {
	display: block;
	font-size: 1.5vw;
}

#getInfo {
	align-self: flex-end;
}

.round-button {
	width: 3vw;
	height: 3vw;
	border-radius: 1.5vw;
	font-size: 2vw;
	padding-left: 0.4vw;
	cursor: pointer;
}

.floater {
	position: absolute;
	display: none;
	z-index: 3;
	background-color: lightgray;
	box-shadow: 0px 0px 2px darkgray;
	border: 1px solid black;
	padding: 1vw;
}

#infoFloater {
	top: 20%;
	left: 40%;
}

#infoFloater h4 {
	font-size: 1.3vw;
	margin: 0;
}

#infoFloater p {
	font-weight: 300;
	font-size: 1vw;
	width: 30vw;
}

#newGameFloater {
	width: 20vw;
	max-width: 300px;
	top: 20%;
	left: 20%;
	z-index: 3;
}

#newGameFloater form {
	margin: 0px;
}

#newGameFloater h4 {
	font-size: 1.1vw;
	margin: 0.1vw;
}

#newGameFloater label {
	display: inline-block;
	font-size: 1vw;
}

#newGameFloater p {
	font-weight: 300;
	font-size: 0.9vw;
}

#newGameFloater input {
	display: inline-block;
	float: right;
	width: 18%;
	max-width: 100px;
	font-size: 0.8vw;
	margin: 4px 0px 0px;
	box-sizing: border-box;
	text-align: center;
}

#newGameFloater .dialogButton {
	display: block;
	margin: 10px auto 5px;
	font-size: 1vw;
	padding: 5px 10px;
}

.handle {
	position: absolute;
	top: 0px;
	width: 60%;
	left: 20%;
	border-radius: 1px;
	background-color: white;
	border: 1px solid black;
	height: 0.8vw;
	border-top: none;
	line-height: 0.7vw;
	letter-spacing: 0.8vw;
	text-align: center;
	user-select: none;
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.handle:hover {
	background-color: lightblue;
	box-shadow: none;
}

.handle:active {
	background-color: blue;
	box-shadow: none;
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.closeFloaterButton {
	width: 20px;
	height: 20px;
	border-radius: 1px;
	box-shadow: none;
	border: 1px solid black;
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	border-top: none;
	border-right: none;
	cursor: pointer;
}

.closeFloaterButton:hover {
	background-color: lightpink;
	box-shadow: none;
}

.closeFloaterButton:active {
	background-color: red;
}

#menu {
	width: 70%;
	display: flex;
	justify-content: flex-start;
	margin: 5px auto 0px;
	opacity: 0.2;
	transition: opacity 0.25s;
	z-index: 1;
}

#menu:hover {
	opacity: 1;
}

.menu-button {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	margin: 0px 5px 0 0;
	width: 10%;
	cursor: pointer;
}

#newBoard {
	background-color: lightgreen;
}

#saveBoard {
	background-color: powderblue;
}

#loadBoard {
	background-color: lightpink;
}

#main {
	margin: 0px auto 5px;
	width: 100%;
	display: flex;
	justify-content: center;
}

#gameboard {
	height: 500px;
	min-width: 60%;
	border: 1px solid black;
	box-shadow: 0px 0px 2px black;
	line-height: 0;
	cursor: crosshair;
	max-width: 70%;
	z-index: 2;
}

.cell {
	display: inline-block;
	border: 1px solid lightgray;
	background: #ffffff;
	margin: 0;
	border-top: none;
	border-left: none;
	box-sizing: border-box;
}

.wing {
	display: flex;
	flex-direction: column;
	margin: 0px 5px;
	flex: 10%;
	opacity: 0.2;
	transition: opacity 0.25s;
}

.wing:hover {
	opacity: 1;
}

.wing > button {
	margin: 5px;
}

#stats {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.2vw;
	padding-left: 1vw;
	padding-right: 3vw;
	box-sizing: border-box;
	align-content: flex-start;
	transition: opacity 0.25s;
}

#stats:hover {
	opacity: 1;
}

.stats--playing {
	opacity: 1;
}

.stat-label {
	font-weight: 400;
}

.stat-readout {
	font-weight: 300;
}

button {
	box-shadow: 1px 1px 1px gray;
}

button:focus {
	outline: none;
}

button:hover {
	box-shadow: 0px 0px 3px 3px white;
}

button:active {
	box-shadow: 0px 0px 5px 5px aqua;
}

#white {
	background-color: white;
}

#black {
	background-color: black;
}

#playback {
	align-items: flex-end;
}

.playback {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
}

.playback--active {
	box-shadow: 0px 0px 5px 5px aqua;
}

#stepButton {
	font-size: 2vw;
	padding-left: 10px;
}

#playButton {
	font-size: 1.4vw;
	padding-left: 11px;
}

#stopButton {
	font-size: 1.5vw;
	padding-left: 8px;
}

#clearButton {
	font-size: 1.5vw;
	padding-left: 8px;
}

.playback-selector {
	width: 130px;
	font-family: 'Oswald', sans-serif;
	font-size: 0.8rem;
	font-weight: 300;
	margin: 0px 0px 10px;
}

#footer {
	width: 70%;
	margin: 5px auto;
	display: block;
}

#palette {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	opacity: 0.2;
	transition: opacity 0.25s;
}

#palette:hover {
	opacity: 1;
}

.color {
	width: 20px;
	height: 20px;
	margin: 1px;
	border: 1px solid white;
	box-sizing: border-box;
}

.color--selected,
.color--selected:hover {
	box-shadow: 0px 0px 5px 2px aqua;
}
