body,
html {
	font-family: 'Oswald', sans-serif;
	background-color: lightgray;
}

#header {
	display: flex;
	margin: 5px auto;
	width: 70%;
}

#titles {
	flex: 30% 2 1;
}

#title {
	font-size: 2.2vw;
}

#subtitle {
	font-size: 1.5vw;
}

#info {
	flex: 70% 3 1;
}

#info h4 {
	font-size: 1.2rem;
	margin: 0.5vh;
}

#info p {
	font-weight: 300;
	margin: 0.3vh;
	font-size: 0.8rem;
}

#newGameDialog {
	width: 25%;
	max-width: 300px;
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 3;
	background-color: lightgray;
	box-shadow: 0px 0px 2px darkgray;
	border: 1px solid black;
	display: none;
}

.closeDialog {
	width: 20px;
	height: 20px;
	border-radius: 1px;
	box-shadow: none;
	float: right;
	border: 1px solid black;
	margin-top: -1px;
	margin-right: -1px;
	padding: 0px;
}

.closeDialog:hover {
	background-color: lightpink;
	box-shadow: none;
}

#newGameDialog form {
	margin: 16px;
}

#newGameDialog label {
	display: inline-block;
	font-size: 1.2rem;
}

#newGameDialog p {
	font-weight: 300;
}

#newGameDialog input {
	display: inline-block;
	float: right;
	width: 18%;
	max-width: 100px;
	font-size: 1rem;
	margin: 4px 0px 0px;
	box-sizing: border-box;
	text-align: center;
}

#newGameDialog .dialogButton {
	display: block;
	margin: 10px auto 5px;
	font-size: 1.2rem;
	padding: 5px 10px;
}

#menu {
	width: 70%;
	display: flex;
	justify-content: flex-start;
	margin: 5px auto 0px;
	opacity: 0.2;
	transition: opacity 0.25s;
	z-index: 1;
}

#menu:hover {
	opacity: 1;
}

.menu-button {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	margin: 0px 5px 0 0;
	width: 10%;
}

#newBoard {
	background-color: lightgreen;
}

#saveBoard {
	background-color: powderblue;
}

#loadBoard {
	background-color: lightpink;
}

#main {
	margin: 0px auto 5px;
	width: 100%;
	display: flex;
	justify-content: center;
}

#gameboard {
	height: 500px;
	min-width: 60%;
	border: 1px solid black;
	box-shadow: 0px 0px 2px black;
	line-height: 0;
	cursor: crosshair;
	max-width: 70%;
	z-index: 2;
}

.cell {
	display: inline-block;
	border: 1px solid lightgray;
	background: #ffffff;
	margin: 0;
	border-top: none;
	border-left: none;
	box-sizing: border-box;
}

.wing {
	display: flex;
	flex-direction: column;
	margin: 0px 5px;
	flex: 10%;
	opacity: 0.2;
	transition: opacity 0.25s;
}

.wing:hover {
	opacity: 1;
}

.wing > button {
	margin: 5px;
}

#stats {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.2vw;
	padding-left: 1vw;
	padding-right: 3vw;
	box-sizing: border-box;
	align-content: flex-start;
}

.stat-label {
	font-weight: 400;
}

.stat-readout {
	font-weight: 300;
}

button {
	box-shadow: 1px 1px 1px gray;
}

button:focus {
	outline: none;
}

button:hover {
	box-shadow: 0px 0px 3px 3px white;
}

button:active {
	box-shadow: 0px 0px 5px 5px aqua;
}

#white {
	background-color: white;
}

#black {
	background-color: black;
}

#playback {
	align-items: flex-end;
}

.playback {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
}

.playback--active {
	box-shadow: 0px 0px 5px 5px aqua;
}

#stepButton {
	font-size: 2rem;
	padding-left: 10px;
}

#playButton {
	font-size: 1.4rem;
	padding-left: 11px;
}

#stopButton {
	font-size: 1.5rem;
	padding-left: 8px;
}

#clearButton {
	font-size: 1.5rem;
	padding-left: 8px;
}

.playback-selector {
	width: 130px;
	font-family: 'Oswald', sans-serif;
	font-size: 0.8rem;
	font-weight: 300;
	margin: 0px 0px 10px;
}

#footer {
	width: 70%;
	margin: 5px auto;
	display: block;
}

#palette {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	opacity: 0.2;
	transition: opacity 0.25s;
}

#palette:hover {
	opacity: 1;
}

.color {
	width: 20px;
	height: 20px;
	margin: 1px;
	border: 1px solid white;
	box-sizing: border-box;
}

.color--selected,
.color--selected:hover {
	box-shadow: 0px 0px 5px 2px aqua;
}
