#menu {
	width: 70%;
	display: flex;
	justify-content: flex-start;
	margin: 5px auto 0px;
	transition: opacity 0.25s;
	z-index: 1;
}

.menu-button {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	margin: 0px 5px 0 0;
	width: 10%;
	cursor: pointer;
	opacity: 0.2;
}

.menu-button:hover {
	opacity: 1;
}

#newBoard {
	background-color: lightgreen;
}

#saveBoard {
	background-color: powderblue;
}

#loadBoard {
	background-color: lightpink;
}

#tooltip-toggle-container {
	margin: 0 0.5rem;
	padding: 0rem 0 0.1rem;
}

#tooltip-toggle {
	font-size: 1.1rem;
}

#getInfo {
	align-self: flex-end;
}

.round-button {
	min-width: 40px;
	width: 4rem;
	height: 4rem;
	border-radius: 2.5rem;
	font-size: 2.7rem;
	padding-left: 0.4rem;
	cursor: pointer;
	min-height: 40px;
	margin: 0.25rem;
}

.floater {
	position: absolute;
	display: none;
	z-index: 5;
	background-color: lightgray;
	box-shadow: 0px 0px 2px darkgray;
	border: 1px solid black;
	padding: 1rem;
}

/* .floater:hover {
	z-index: 99;
} */

.floater p {
	margin: 1% 0;
}

#infoFloater {
	top: 20%;
	left: 40%;
}

#infoFloater h4 {
	font-size: 1.3rem;
	margin: 0;
}

#infoFloater p {
	font-weight: 300;
	font-size: 1rem;
	width: 30rem;
}

#saveFloater {
	top: 20%;
	left: 30%;
	width: 20rem;
	max-width: 330px;
}

#saveLocalForm {
	margin: 1% 0;
}

#saveLocalName {
	display: block;
	font-size: 0.8rem;
	width: 100%;
}

#saveLocalDimensions {
	font-size: 1.2rem;
	color: red;
	font-weight: 400;
	margin: 1rem 0 0.5rem;
}

#loadFloater {
	top: 20%;
	left: 40%;
	width: 20rem;
	max-width: 330px;
}

#loadResultsSelector {
	width: 8rem;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	margin: 0.5vh 0px;
	width: 80%;
}

#loadResultsArea {
	font-size: 1.2rem;
	color: darkred;
}

#newGameFloater {
	width: 20rem;
	max-width: 300px;
	top: 20%;
	left: 20%;
}

#newGameFloater form {
	margin: 0px;
}

#newGameFloater h4 {
	font-size: 1.4rem;
	margin: 0.1rem;
}

#newGameFloater label {
	display: inline-block;
	font-size: 1.1rem;
}

#newGameFloater p {
	font-weight: 300;
	font-size: 1rem;
}

#newGameFloater input {
	display: inline-block;
	float: right;
	width: 18%;
	max-width: 100px;
	font-size: 0.8rem;
	margin: 4px 0px 0px;
	box-sizing: border-box;
	text-align: center;
}

.dialogButton {
	display: block;
	margin: 10px auto 5px;
	font-size: 1.5rem;
	padding: 5px 10px;
}

.handle {
	position: absolute;
	top: 0px;
	width: 60%;
	left: 20%;
	border-radius: 1px;
	background-color: white;
	border: 1px solid black;
	height: 1rem;
	border-top: none;
	line-height: 1rem;
	letter-spacing: 0.8rem;
	text-align: center;
	user-select: none;
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.handle:hover {
	background-color: lightblue;
	box-shadow: none;
}

.handle:active {
	background-color: blue;
	box-shadow: none;
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.closeFloaterButton {
	width: 20px;
	height: 20px;
	border-radius: 1px;
	box-shadow: none;
	border: 1px solid black;
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	border-top: none;
	border-right: none;
	cursor: pointer;
}

.closeFloaterButton:hover {
	background-color: lightpink;
	box-shadow: none;
}

.closeFloaterButton:active {
	background-color: red;
}

button {
	box-shadow: 1px 1px 1px gray;
}

button:focus {
	outline: none;
}

button:hover {
	box-shadow: 0px 0px 3px 3px white;
	opacity: 1;
}

button:active {
	box-shadow: 0px 0px 5px 5px aqua;
}

#playback-buttons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 40%;
	width: 90%;
	justify-content: space-evenly;
	align-content: space-between;
	max-width: 10vw;
}

#stepButton {
	font-size: 2.7rem;
	padding-left: 10px;
}

#playButton {
	font-size: 2.1rem;
	padding-left: 11px;
}

#stopButton {
	font-size: 2.2rem;
	padding-left: 8px;
}

#clearButton {
	font-size: 2.2rem;
	padding-left: 8px;
}

.round-button--active {
	color: white;
	background: darkcyan;
	border: 2px solid white;
}

#playback-selectors {
	display: flex;
	flex-wrap: wrap;
	min-width: 50%;
	font-size: 1.2rem;
	flex-direction: column;
	text-align: right;
}

.playback-selector {
	width: 8rem;
	font-family: 'Oswald', sans-serif;
	font-size: 0.8rem;
	font-weight: 300;
	margin: 0px 0px 10px;
}

#toastContainer {
	display: flex;
	position: absolute;
	top: 0%;
	z-index: 500;
	height: 4%;
	padding: 0.5rem 0;
	width: 100%;
	align-content: center;
	flex-direction: column;
}

.toast {
	display: block;
	margin: 5px auto;
	border-radius: 0.2rem;
	height: 1.7rem;
	max-height: 6rem;
	max-width: 25rem;
	font-size: 0.95rem;
	font-weight: 300;
	color: white;
	border: 1px solid #d7f1f9;
	background: #90bae0;
	text-align: center;
	box-shadow: 0px 0px 2px darkgrey;
	line-height: 1.65rem;
	padding: 0px 1rem;
	transition: opacity 1.5s;
}

.tippy-tooltip.light-theme {
	/* Your styling here. Example: */
	background-color: #d8eff9;
	border: 2px solid darkgrey;
	border-radius: 3px;
	color: black;
	font-size: 1rem;
	font-weight: 300;
	max-width: 12rem;
	max-height: 7rem;
	padding: 0.5rem;
}

.tippy-tooltip.pattern-theme {
	/* Your styling here. Example: */
	background-color: #d8eff9;
	border: 2px solid darkgrey;
	border-radius: 3px;
	color: black;
	font-size: 0.9rem;
	font-weight: 300;
	max-width: 15rem;
	max-height: 12rem;
	padding: 0.5rem;
}

.tippy-tooltip h5 {
	font-size: 1rem;
	margin: 0;
}
