#menu {
	width: 70%;
	display: flex;
	justify-content: flex-start;
	margin: 5px auto 0px;
	transition: opacity 0.25s;
	z-index: 1;
}

.menu-button {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	margin: 0px 5px 0 0;
	width: 10%;
	cursor: pointer;
	opacity: 0.2;
}

.menu-button:hover {
	opacity: 1;
}

#newBoard {
	background-color: lightgreen;
}

#saveBoard {
	background-color: powderblue;
}

#loadBoard {
	background-color: lightpink;
}

#getInfo {
	align-self: flex-end;
}

.round-button {
	min-width: 40px;
	width: 3vw;
	height: 3vw;
	border-radius: 2.5vw;
	font-size: 2vw;
	padding-left: 0.4vw;
	cursor: pointer;
	min-height: 40px;
}

.floater {
	position: absolute;
	display: none;
	z-index: 3;
	background-color: lightgray;
	box-shadow: 0px 0px 2px darkgray;
	border: 1px solid black;
	padding: 1vw;
}

#infoFloater {
	top: 20%;
	left: 40%;
}

#infoFloater h4 {
	font-size: 1.3vw;
	margin: 0;
}

#infoFloater p {
	font-weight: 300;
	font-size: 1vw;
	width: 30vw;
}

#saveFloater {
	top: 20%;
	left: 30%;
	width: 20vw;
	max-width: 330px;
}

#saveLocalName {
	display: block;
	font-size: 0.8vw;
	width: 100%;
}

#newGameFloater {
	width: 20vw;
	max-width: 300px;
	top: 20%;
	left: 20%;
	z-index: 3;
}

#newGameFloater form {
	margin: 0px;
}

#newGameFloater h4 {
	font-size: 1.1vw;
	margin: 0.1vw;
}

#newGameFloater label {
	display: inline-block;
	font-size: 1vw;
}

#newGameFloater p {
	font-weight: 300;
	font-size: 0.9vw;
}

#newGameFloater input {
	display: inline-block;
	float: right;
	width: 18%;
	max-width: 100px;
	font-size: 0.8vw;
	margin: 4px 0px 0px;
	box-sizing: border-box;
	text-align: center;
}

.dialogButton {
	display: block;
	margin: 10px auto 5px;
	font-size: 1vw;
	padding: 5px 10px;
}

.handle {
	position: absolute;
	top: 0px;
	width: 60%;
	left: 20%;
	border-radius: 1px;
	background-color: white;
	border: 1px solid black;
	height: 0.8vw;
	border-top: none;
	line-height: 0.7vw;
	letter-spacing: 0.8vw;
	text-align: center;
	user-select: none;
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.handle:hover {
	background-color: lightblue;
	box-shadow: none;
}

.handle:active {
	background-color: blue;
	box-shadow: none;
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.closeFloaterButton {
	width: 20px;
	height: 20px;
	border-radius: 1px;
	box-shadow: none;
	border: 1px solid black;
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	border-top: none;
	border-right: none;
	cursor: pointer;
}

.closeFloaterButton:hover {
	background-color: lightpink;
	box-shadow: none;
}

.closeFloaterButton:active {
	background-color: red;
}

button {
	box-shadow: 1px 1px 1px gray;
}

button:focus {
	outline: none;
}

button:hover {
	box-shadow: 0px 0px 3px 3px white;
	opacity: 1;
}

button:active {
	box-shadow: 0px 0px 5px 5px aqua;
}

#playback-buttons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 50%;
	width: 50%;
	justify-content: space-evenly;
	align-content: space-between;
}

#stepButton {
	font-size: 2vw;
	padding-left: 10px;
}

#playButton {
	font-size: 1.4vw;
	padding-left: 11px;
}

#stopButton {
	font-size: 1.5vw;
	padding-left: 8px;
}

#clearButton {
	font-size: 1.5vw;
	padding-left: 8px;
}

.round-button--active {
	color: white;
	background: darkcyan;
	border: 2px solid white;
}

#playback-selectors {
	display: flex;
	flex-wrap: wrap;
	min-width: 50%;
	font-size: 1.2vw;
	flex-direction: column;
	text-align: right;
}

.playback-selector {
	width: 8vw;
	font-family: 'Oswald', sans-serif;
	font-size: 0.8rem;
	font-weight: 300;
	margin: 0px 0px 10px;
}

.tippy-tooltip.light-theme {
	/* Your styling here. Example: */
	background-color: #d8eff9;
	border: 2px solid darkgrey;
	border-radius: 3px;
	color: black;
	font-size: 0.8vw;
	font-weight: 300;
	max-width: 8vw;
	padding: 0.5vw;
}

.tippy-tooltip h5 {
	font-size: 1vw;
	margin: 0;
}
